.DS_Store
.idea/
.idea_modules/
.vscode/
*.iws
*.swp
*.swo
*~
~$*.doc
rippled.log
__pycache__/
*.py[cod]
.venv/
pip-log.txt
logs
config/docker-compose.yml
config/volumes/*val*
config/volumes/*rippled*
testnet/
state.db
