services:
  workload:
    image: $WORKLOAD_IMAGE
    container_name: workload
    hostname: workload
    entrypoint: ["workload"]
    environment:
      - XRPLD_NAME=xrpld  # defaults to "xrpld"
      - VALIDATOR_NAME=val # defaults to "val"
      - NUM_VALIDATORS=5 # default 5
    depends_on:
      xrpld:
        condition: service_healthy
    volumes:
      - ./accounts.json:/accounts.json
      - ./ledger.json:/ledger.json
    networks:
      antithesis_net:
